body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.card-custom{
  background-color: #182634;
  color: #90accb;
  border-color: #314c68;
}
.card-custom img{
  object-fit: cover;
}
.card-title{
  color: #fff;
}
.card-text{
  font-size: 14px;
}
.bg-secondary{
  background-color: #333e4a !important;
  font-weight: 500 !important;
}